body {
    height: 100vh;
    background-color: antiquewhite;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    font-size: 24px;
    background-color: rgb(241, 153, 37);
    border-color: rgb(241, 153, 37);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 12px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.main {
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border: 1rem solid rgb(241, 153, 37);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}